@import url("./header.css");
@import url("./main.css");
@import url("./services-section.css");
@import url("./our-clients-section.css");
@import url("./footer.css");



@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&display=swap");

@import url("https://use.typekit.net/lrn0ppf.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

.tp-dfwv{
  display: none !important;
}

/* Background images*/
body .bg-image-container{
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}


body .bg-image-container img{
  width: 100%;
  height: 100vh;
  object-fit:cover;
}

/* body .bg-image-container img {
  width: 100%;
  height: 33%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  transition: all 5s;
} */

body .bg-image-container img:nth-child(1) {
  opacity: 1;
}

body .bg-image-container img:nth-child(2) {
  opacity: 0;
}

body .bg-image-container img:nth-child(3) {
  opacity: 0;
}

