@import url("./header.css");
@import url("./main.css");
@import url("./blabla.css");

@import url("./services-section.css");
@import url("./our-clients-section.css");
@import url("./footer.css");



@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&display=swap");

@import url("https://use.typekit.net/lrn0ppf.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  background-color: rgb(22, 26, 66);
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

.tp-dfwv{
  display: none !important;
}


